NEXT_PUBLIC_SITE_URL=https://peptideamerica.com
NEXT_PUBLIC_BRAND_NAME="Peptide America"
COMMERCE_PROVIDER=mock
WOOCOMMERCE_URL=
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
WP_GRAPHQL_ENDPOINT=
CHECKOUT_MODE=disabled
PAYMENT_PROVIDER=woocommerce_redirect
SHIPSTATION_MODE=woocommerce_plugin
